<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AnyCAD.Foundation.Net" publicKeyToken="adad17ef48f32d48" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.4.27.1720" newVersion="21.4.27.1720" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>